%section.documentation
  %section#ui
    .container
      .row
        .col-md-12
          %h1=t "documentation.title"
      .row
        .col-md-12
          %h2=t "documentation.web.title"
      .row
        .col-md-4.hyphenate=t "documentation.web.left_html"
        .col-md-4.hyphenate=t "documentation.web.center_html",
          core_url: git_url("blob/master/res/parser/core.xml")
        .col-md-4.hyphenate=t "documentation.web.right_html"
  %section#rubygem
    .container
      .row
        .col-md-12
          %h2=t "documentation.ruby.title"
          %p.lead=t "documentation.ruby.install"
          %pre
            %code
              :preserve
                $ [sudo] gem install anystyle
          %p=t "documentation.ruby.usage"
          %pre
            %code
              :preserve
                >> require "anystyle"

                >> AnyStyle.parse """
                    Turing, Alan, Computing Machinery and Intelligence, Mind 59, pp 433-460 (1950)
                   """
                => [{
                     :type => "article-journal",
                     :author => [{ :family => "Turing", :given => "Alan" }],
                     :date => ["1950"],
                     :title => ["Computing Machinery and Intelligence"],
                     :"container-title" => ["Mind"],
                     :volume => ["59"],
                     :pages => ["433–460"],
                     :language => "en",
                     :scripts => ["Common", "Latin"]
                   }]

          %p=t "documentation.ruby.more_html", doc_url: doc_url
  %section#cli
    .container
      .row
        .col-md-12
          %h2=t "documentation.cli.title"
          %p.lead=t "documentation.cli.install"
          %pre
            %code
              :preserve
                $ [sudo] gem install anystyle-cli
          %p=t "documentation.ruby.usage"
          %pre
            %code
              :preserve
                $ anystyle --help

                NAME
                    anystyle - Finds and parses bibliographic references

                SYNOPSIS
                    anystyle [global options] command [command options] [arguments...]

                VERSION
                    1.3.3 (cli 1.2.0, data 1.2.0)

                GLOBAL OPTIONS
                    -F, --finder-model=file - Set the finder model file (default: none)
                    -P, --parser-model=file - Set the parser model file (default: none)
                    --adapter=name          - Set the dictionary adapter (default: ruby)
                    -f, --format=name       - Set the output format (default: ["json"])
                    --pdfinfo=path          - Set the path for pdfinfo (default: none)
                    --pdftotext=path        - Set the path for pdftotext (default: none)
                    --help                  - Show this message
                    --[no-]stdout           - Print results directly to stdout
                    --[no-]verbose          - Print status messages to stderr
                    --version               - Display the program version
                    -w, --[no-]overwrite    - Allow overwriting existing files

                COMMANDS
                    check   - Check tagged documents or references
                    find    - Find and extract references from text documents
                    help    - Shows a list of commands or help for one command
                    license - Print license information
                    parse   - Parse and convert references
                    train   - Create a new finder or parser model
