%footer
  .container
    .row
      .col-md-12
        %h1=t "footer.title"
        %p.lead=t "footer.lead_html"
        .row
          .col-md-6.hyphenate
            %p=t "footer.left_html"
            %p.lead.text-center
              =link_to repo_url(path: "issues") do
                %i.glyphicon.glyphicon-circle-arrow-right><
                %span=t "footer.issue"
          .col-md-6.hyphenate
            %p=t "footer.right_html"
            %p.lead.text-center
              =mail_to "sylvester@keil.or.at", encode: 'javascript' do
                %i.glyphicon.glyphicon-circle-arrow-right><
                %span=t "footer.contact"
        %p.credits
          Developed by #{link_to "Sylvester Keil", "https://github.com/inukshuk"}.
          Designed by #{link_to "Flachware", "http://flachware.com"}.
          With #{fa_icon "heart", title: "a broken heart"} at aliceblue.
        %ul.list-unstyled.footer-links.text-center
          %li><= 'v' << AnyStyle::VERSION
          %li><= link_to "GitHub", repo_url
          %li><= link_to "Issues", repo_url(path: "issues")
          %li><= link_to "RubyDoc", doc_url
          %li><= link_to "RubyGem", gem_url
        %p.logos
          %a.flachware(href="http://flachware.com")><
          %span.aliceblue><

